In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC, SVC
from sklearn import tree
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [2]:
columns = ['age','workclass','fnlwgt','education','education-num','maritalStatus','occupation',
           'relationship','race','sex','capital-gain','capital-loss','hours-per-week','nativeCountry','Label']
data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",names=columns)

In [3]:
data.head()

,age,workclass,fnlwgt,education,education-num,maritalStatus,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,nativeCountry,Label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data.Label.value_counts(normalize=True)

 <=50K    0.75919
 >50K     0.24081
Name: Label, dtype: float64

In [5]:
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
maritalStatus     0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
nativeCountry     0
Label             0
dtype: int64

In [6]:
data.education.unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [13]:
data.loc[data['Label'].str.contains(">50K"),'target'] = 1
data.loc[data['Label'].str.contains("<=50K"),'target'] = 0

In [14]:
data.head()

,age,workclass,fnlwgt,education,education-num,maritalStatus,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,nativeCountry,Label,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0.0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0.0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0.0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0.0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0.0

In [15]:
from sklearn.model_selection import train_test_split
y = data.pop('target')
X = data.iloc[:,0:-1]

In [16]:
X1=pd.get_dummies(X)

In [19]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X1, y)

print(lm.intercept_)
print(lm.coef_)

-0.3476853528514131
[ 2.50256242e-03  7.27984762e-08  2.80160839e-02  7.80143490e-06
  9.21109231e-05  2.88282815e-03 -2.04641327e-02  9.48900024e-02
 -6.17049517e-03  2.25084944e-02  2.33021566e-02  8.30342258e-02
 -4.12649245e-02 -2.11014016e-02 -1.34733925e-01 -1.48944955e-02
 -1.90172738e-02 -2.49235619e-02  4.77308623e-02  2.98185741e-02
 -3.11146580e-02 -2.15844205e-02 -8.44584561e-02 -5.48730419e-02
 -1.77601019e-02  9.99604448e-02 -6.50970540e-02  4.17334244e-02
  8.56760330e-02  7.47734321e-02 -4.59697069e-02 -4.91761931e-02
  1.30271832e-01  6.50124289e-02 -2.25067233e-02 -5.77063055e-02
 -3.65099252e-02 -2.93851137e-02  2.04436171e-03  2.63685480e-03
 -1.31329068e-01 -1.29494481e-02  1.30873959e-01 -1.01397613e-01
 -5.44415238e-02 -4.60133911e-02 -2.22364141e-02  1.18726342e-02
  6.93666453e-02  7.49730446e-02  4.24803276e-02  7.34881847e-02
 -3.93685531e-02  7.64661313e-02 -8.40502332e-02 -5.43030497e-02
 -5.83956713e-02 -7.03717449e-02  1.90654568e-01 -2.29106502e-02
  1.47624511e-02  4.75581915e-03 -1.70520643e-02  2.04444444e-02
 -2.92839438e-02  2.92839438e-02 -1.67659468e-02  1.67093651e-01
  4.91016459e-02 -6.68968975e-02 -7.66228332e-02  2.46898253e-02
 -2.70359409e-02 -2.46003071e-03  2.25992264e-02  6.24561831e-02
  9.87434871e-02  6.48164643e-02 -7.80335579e-02  4.81486153e-02
  1.65120208e-03 -1.43475166e-01 -5.81761872e-03 -6.96090518e-03
 -7.70511312e-03 -2.82655218e-02  2.92598599e-02  7.68084206e-02
  9.37897672e-02  1.99001778e-02  8.03265642e-02 -6.56426781e-02
 -2.12531349e-02 -5.06830337e-02 -1.32513927e-01 -3.56411307e-02
  5.40139106e-02 -9.94398869e-03 -2.15365851e-02 -6.65210444e-03
 -1.93679018e-03 -7.02737762e-02 -2.37203347e-02 -3.26140707e-02
 -2.27539641e-02  3.59026376e-02 -5.70340701e-02  8.29374822e-02]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.25, random_state=5)

In [21]:
def classifyWithLogisticRegression ( trainingData, results, testData ):
    clf_logreg = LogisticRegression()
    clf_logreg.fit(trainingData, results)
    return clf_logreg.predict(testData)

def classifyWithDecisionTree ( trainingData, results, testData ):
    clf_tree = tree.DecisionTreeClassifier()
    clf_tree.fit(trainingData, results)
    return clf_tree.predict(testData)

def classifyWithSVM ( trainingData, results, testData ):
    clf_svm = SVC()
    clf_svm.fit(trainingData,results)
    return clf_svm.predict(testData)

def classifyWithPerceptron ( trainingData, results, testData ):
    clf_perceptron = Perceptron()
    clf_perceptron.fit(trainingData,results)
    return clf_perceptron.predict(testData)

def classifyWithKNeighbors ( trainingData, results, testData ):
    clf_KNN = KNeighborsClassifier()
    clf_KNN.fit(trainingData,results)
    return clf_KNN.predict(testData)

def classifyWithGaussianNaiveBayes ( trainingData, results, testData ):
    clf_GaussianNB = GaussianNB()
    clf_GaussianNB.fit(trainingData,results)
    return clf_GaussianNB.predict(testData)

def classifyWithStochasticGradientDescent ( trainingData, results, testData ):
    sgd = SGDClassifier()
    sgd.fit(trainingData, results)
    return sgd.predict(testData)

def classifyWithLinearSVC ( trainingData, results, testData ):
    linear_svc = LinearSVC()
    linear_svc.fit(trainingData, results)
    return linear_svc.predict(testData)

def classifyWithRandomForest ( trainingData, results, testData ):
    random_forest = RandomForestClassifier(n_estimators=100)
    random_forest.fit(trainingData, results)
    return random_forest.predict(testData)

In [22]:
from sklearn import metrics

In [23]:
LR_prediction = classifyWithLogisticRegression(X_train, y_train, X_test)
DT_prediction = classifyWithDecisionTree(X_train, y_train, X_test)
SVM_prediction = classifyWithSVM(X_train, y_train, X_test)
KN_prediction = classifyWithKNeighbors(X_train, y_train, X_test)
LRSVC_prediction = classifyWithLinearSVC(X_train, y_train, X_test)
RF_prediction = classifyWithRandomForest(X_train, y_train, X_test)
print("Logistic regressor accuracy is",metrics.accuracy_score(y_test,LR_prediction))
print("Decision Tree regressor accuracy is",metrics.accuracy_score(y_test,DT_prediction))
print("SVM regressor accuracy is",metrics.accuracy_score(y_test,SVM_prediction))
print("KNeighbors regressor accuracy is",metrics.accuracy_score(y_test,KN_prediction))
print("LinearSVC regressor accuracy is",metrics.accuracy_score(y_test,LRSVC_prediction))
print("RandomForest regressor accuracy is",metrics.accuracy_score(y_test,RF_prediction))

C:\Users\v-avkuma\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\v-avkuma\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\v-avkuma\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

Logistic regressor accuracy is 0.793391475248741
Decision Tree regressor accuracy is 0.8112025549686771
SVM regressor accuracy is 0.7607173565900995
KNeighbors regressor accuracy is 0.773492199975433
LinearSVC regressor accuracy is 0.7931458051836384
RandomForest regressor accuracy is 0.8537034762314212

### We could see from the above result that RandomForest accuracy (0.85 i.e. 85%) is the best on this dataset

In [24]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train,y_train)
Column_Name = list(range(X_train.shape[1]))
Column_Importance_Data = pd.DataFrame({'Column_Number':Column_Name,'Importance':random_forest.feature_importances_})
Column_Importance_Data.sort_values(['Importance'],ascending=False)

     Column_Number  Importance
1                1    0.155620
0                0    0.147962
3                3    0.095660
5                5    0.082893
33              33    0.067207
2                2    0.062141
53              53    0.038070
4                4    0.029702
35              35    0.026997
42              42    0.019067
48              48    0.014930
24              24    0.012101
54              54    0.011636
10              10    0.010911
58              58    0.010170
56              56    0.009530
27              27    0.009104
12              12    0.008757
64              64    0.008442
65              65    0.008302
26              26    0.007704
50              50    0.007335
41              41    0.006831
63              63    0.006525
105            105    0.006299
8                8    0.006162
46              46    0.006157
31              31    0.006048
11              11    0.006019
39              39    0.005864
..             ...         ...
18              18    0.000298
78              78    0.000281
32              32    0.000281
76              76    0.000271
107            107    0.000252
74              74    0.000245
98              98    0.000239
70              70    0.000221
87              87    0.000217
67              67    0.000209
47              47    0.000165
79              79    0.000158
83              83    0.000153
72              72    0.000142
104            104    0.000127
73              73    0.000123
84              84    0.000117
80              80    0.000093
93              93    0.000085
14              14    0.000081
103            103    0.000079
100            100    0.000065
95              95    0.000064
28              28    0.000056
91              91    0.000044
94              94    0.000036
40              40    0.000010
82              82    0.000004
9                9    0.000002
81              81    0.000000

[108 rows x 2 columns]